---
/**
 * ExpeditionItem is a component that displays a single expedition item in the Expeditions landing page.
 */

import { getDayjsMonthYear } from "@scripts/utils";
import { render, type CollectionEntry } from "astro:content";

interface Props {
  expedition: CollectionEntry<"expeditions">;
}

const { expedition } = Astro.props;

const { remarkPluginFrontmatter } = await render(expedition);

const lastModifiedString = getDayjsMonthYear(remarkPluginFrontmatter.lastModified)
---

<div class="flex flex-col gap-4 p-8">
  <h2><a href=`/expeditions/${expedition.id}`>{expedition.data.title}</a></h2>
  <p class="text-sm">Last updated on {lastModifiedString} | {expedition.data.relatedEntries.length} entries</p>
  <p class="text-sm">{expedition.data.description}</p>
</div>
