---
import { experiences } from "@data/personal-data";
import ResumeSection from "./ResumeSection.astro";
import ResumeListSection from "./ResumeListSection.astro";
import ResumeLinkListSection from "./ResumeLinkListSection.astro";
---

<ResumeSection title="Experiences" level={1}>
    {
        experiences.map((experience) => {
            return (
                <ResumeSection title={experience.position} level={2}>
                    <p>
                        {experience.location}
                        <br />
                        <br />
                        {experience.date}
                    </p>

                    <ResumeListSection
                        title="Work Done"
                        level={3}
                        list={experience.work_done}
                    />
                    <ResumeLinkListSection
                        title="References"
                        level={3}
                        list={experience.references}
                    />
                </ResumeSection>
            );
        })
    }
</ResumeSection>
